.app {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template: 160px auto 1fr / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer"
  ;
  font-family: "PT Sans", sans-serif;
}

@media(max-width:650px) {
  .app {
    grid-template: 120px auto 1fr / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer"
    ;
  }
}