@import "./normalize.scss";
@import "./adaptive-font.scss";

.product-action {
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: fit-content;

  & .product-action__text {
    display: inline-block;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-text-color);
    transition: all 0.4s;

    &:hover {
      color: var(--secondary-color);
    }
  }

  & .product-action__counter {
    --height: 25px;
    width: 25px;
    height: var(--height);
    text-align: center;
    font-weight: 800;
    /* exact like height */
    line-height: var(--height);
    color: white;
    background-color: var(--secondary-color);
  }
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--primary-color);
  }

  &::-webkit-scrollbar-thumb {

    background-color: var(--scroll-bar-color);
  }
}