@import "./normalize.scss";
@import "./variables.scss";

.list-wrapper>.title {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 600;
  color: white;
}

.list-item>a {
  font-size: 15px;
}

.list-item__link:hover {
  border-bottom: 1px solid transparent;
}

.list-item__link {
  font-size: 17px;
  line-height: 2;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  transition: all 0.4s;
}

.product-action {
  display: flex;
  align-items: center;
  justify-content: end;
}

.product-action__text {
  display: inline-block;
  margin: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-text-color);
  transition: all 0.4s;

  &:hover {
    color: var(--secondary-color);
  }
}

.product-action>.sprite {
  width: 25px;
}

.counter {
  width: 25px;
  height: 25px;
  font-weight: 800;
  line-height: 25px;
  /* exact like height */
  text-align: center;
  color: white;
  background-color: var(--secondary-color);
}

/* TODO:fix list */