.product-selection {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid var(--primary-color);

    & .product-selection__title {
        margin-bottom: 6px;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        color: var(--dark-text-color);
        transition: all 0.4s;

        &:hover {
            color: var(--secondary-color);
        }
    }

    & .product-selection-image__image {
        width: 100%;
    }
}