.sub-header-menu-wrapper {
    background-color: var(--third-color);
}

.sub-header-menu {
    display: flex;
    height: 100%;
    max-width: var(--content-max-width);
    margin: 0 auto;

    &>.sub-header-menu-blur-zone .overflow-scroll {
        display: flex;
        align-items: center;
    }


    &>.user-menu {
        margin-left: auto;
    }
}

.sub-header-menu-item {
    display: inline-flex;
    align-content: center;
    height: 100%;
    min-width: fit-content;
    padding: 0 6px;
    transition: all 0.4s;

    &>.item__text {
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 13px;
        color: var(--text-color);
    }

    &.-with-icon .icon {
        align-self: center;
        width: 30px;
        height: 30px;
        background: no-repeat;
    }

    &>.item__text {
        display: flex;
        padding: 0 10px;
    }

    &:hover {
        background-color: var(---background-hover-color);
    }

    &:hover>.item__text {
        text-decoration: underline;
        color: white;
    }
}



@media(max-width: 950px) {
    .sub-header-menu-blur-zone::after {
        visibility: visible !important;
    }
}