@import "../../../app/styles/variables.scss";

.phones {
    display: flex;
    align-self: center;
    grid-area: phoneNumbers;
    margin-right: 20px;
    margin-left: 10px;
    overflow-x: auto;
    
    & > .phone {
        margin: 7px;
    }
    
    & .sprite {
        margin-right: 5px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.phone {
    display: flex;
    color: black;
    min-width: fit-content;

    & > .phone__number {
        display: block;
        align-self: center;
        white-space: nowrap;
        transition: all 0.4s;
    }

    & .sprite {
        height: 20px;
        width: 25px;
    }

    &:hover > .phone__number {
        color: var(--secondary-color);
    }
}


