.contacts-field  .sprite {
    width: 15px;
    height: 18px;
    margin-right: 10px;
}

.contacts-field  {
    display: flex;
    align-items: center;
}

.contacts-field__text {
    color: var( --footer-text-color);
}