.time-table {
    grid-area: timetable;
    align-self: center;
    padding: 3px;
    margin: 4px;
    
}
.time-table-text-wrapper {
    position: relative;
    padding: 3px;
    background-color: rgb(209, 208, 208);
   
}

.time-table-text-wrapper::after {
    content: ''; 
    position: absolute; 
    right: -20px;
    bottom: 0px; 
    
    border: 10px solid transparent; 
    border-left: 10px solid rgb(209, 208, 208);

}