.social-networks__title {
    color: var(--social-networks-text-color);
    margin-bottom: 5px;
}

.social-networks {
    display: flex;
}

.social-networks-wrapper {
    margin-top: 28px;
}

.social-networks > div:nth-child(1) {
    margin-left: 0px;
    }

    .social-network > .icon {
        width: 17px;
        height: 17px;
    }


    div.social-networks-wrapper a:nth-child(1) > .icon {
    width: 8px;
    height: 14px;
   }
   div.social-networks-wrapper a:nth-child(2) > .icon{
    width: 16px;
    height: 10px;
   }
   div.social-networks-wrapper a:nth-child(3) > .icon{
    width: 16px;
    height: 16px;
   }
   div.social-networks-wrapper a:nth-child(4) > .icon {
    width: 10px;
    height: 16px;
   }
   div.social-networks-wrapper a:nth-child(5) > .icon {
    width: 16px;
    height: 12px;
   }

  