.social-networks__title {
    color: var(--social-networks-text-color);
    margin-bottom: 5px;
}

.social-networks-list {
    display: flex;

    &>a {
        transition: all 0.4s;
    }

    & a:nth-child(1)>.sprite {
        width: 8px;
        height: 14px;
    }

    & a:nth-child(2)>.sprite {
        width: 16px;
        height: 10px;
    }

    & a:nth-child(3)>.sprite {
        width: 16px;
        height: 16px;
    }

    & a:nth-child(4)>.sprite {
        width: 10px;
        height: 16px;
    }

    & a:nth-child(5)>.sprite {
        width: 16px;
        height: 12px;
    }

    & a:nth-child(1):hover>.sprite {
        background-position-y: -332px !important;
    }

    & a:nth-child(2):hover>.sprite {
        background-position-y: -66px !important;
    }

    & a:nth-child(3):hover>.sprite {
        background-position-y: -518px !important;
    }

    & a:nth-child(4):hover>.sprite {
        background-position-y: -566px !important;
    }

    & a:nth-child(5):hover>.sprite {
        background-position-y: -184px !important;
    }
}

.social-networks {
    margin-top: 28px;

    &>.social-networks-list>a:first-child {
        margin-left: 0px;
    }

}

.social-network {
    &>.sprite {
        width: 17px;
        height: 17px;
    }

    &:hover>div {
        color: white;
    }
}