.social-networks__title {
    color: var(--social-networks-text-color);
    margin-bottom: 5px;
}

.social-networks-list {
    display: flex;
}

.social-networks {
    margin-top: 28px;
}

.social-networks > .social-networks-list > a:first-child {
    margin-left: 0px;
}

.social-network>.sprite {
    width: 17px;
    height: 17px;
}


div.social-networks-list a:nth-child(1)>.sprite {
    width: 8px;
    height: 14px;
}

div.social-networks-list a:nth-child(2)>.sprite {
    width: 16px;
    height: 10px;
}

div.social-networks-list a:nth-child(3)>.sprite {
    width: 16px;
    height: 16px;
}

div.social-networks-list a:nth-child(4)>.sprite {
    width: 10px;
    height: 16px;
}

div.social-networks-list a:nth-child(5)>.sprite {
    width: 16px;
    height: 12px;
}