.in-order-checkbox-wrapper {
    display: flex;
    color: var(--inactive-color);

    & .checkbox-real {
        display: none;
    }

    & .checkbox__title {
        margin-left: 7px;
    }

    .checkbox {
        position: relative;
        width: 35px;
        height: 17px;
        border-radius: 15px;
        background-color: gray;
        transition: all 0.3s;

        &>.checkbox-point {
            position: absolute;
            top: 50%;
            left: 1px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: whitesmoke;
            transition: all 0.3s;
            transform: translate(0%, -50%);
        }
    }

    &.active {
        .checkbox {
            background-color: green;

            &>.checkbox-point {
                left: calc(100% - 1px);
                transform: translate(-100%, -50%);
                background-color: whitesmoke;
            }
        }
    }


}