.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    margin-bottom: 5px;
    margin-top: 20px;
    transition: all 0.4s;


    & .sprite {
        width: 20px;
        height: 20px;
        margin-right: 7px;
    }

    & .cart-button__text {
        color: white;
        font-weight: 700;
    }

    &:hover {
        background-color: var(--active-color);
        border-color: var(--active-color);
    }
}