.product-prices {
    width: 100%;
    display: flex;
    margin-top: 10px;

    --border-radius-size: 10px;

    & .product-price__title {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        text-align: center;
    }

    & .product-price__price {
        text-align: center;
        margin-bottom: 7px;
        font-size: 20px;
        font-weight: 700;
    }

    & .product-price {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 9px;
        font-size: 18px;
    }

    & .price-with-cart {
        border: 1px solid var(--secondary-color);
        border-top-left-radius: var(--border-radius-size);
        border-bottom-left-radius: var(--border-radius-size);
        background: var(--secondary-color);
        color: white;
    }

    & .price {
        border: 1px solid var(--weak-border-color);
        border-top-right-radius: var(--border-radius-size);
        border-bottom-right-radius: var(--border-radius-size);

        & .product-price__title {
            color: var(--inactive-color);
        }
    }
}