.tag {
    margin: 0 12px 10px 0;
    border: 1px solid var(--primary-color);
    transition: background 0.4s;

    &.active,
    &:hover {
        background-color: var(--secondary-color);

        &>a {
            color: var(--smoky-white);
        }
    }


    &>a {
        word-wrap: break-word;
        display: block;
        padding: 6px 15px;
        color: var(--inactive-color);
        transition: color 0.4s;
    }
}