.scroll-top {
grid-area: scrollTop;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
font-size: 14px;
margin-bottom: 32px;
border-bottom: 1px solid var(--border-color);

}

.scroll-top .sprite {
   width: 15px;
   height: 17px;
   margin-right: 8px;
   align-self: center;
   margin-bottom: -5px;
}

.scroll-top__text {
   color: var(--footer-text-color);
}