.sub-product-slider {
  position: relative;
  margin: 15px;

  & .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 12px;
    border: 1px solid var(--primary-color);

    &:hover {
      border-color: var(--active-color);
    }
  }


  & .swiper-wrapper {
    width: 100%;
  }

  & .swiper-slide-thumb-active {
    border-color: var(--active-color);
  }
}