.bread-crumbs {
    grid-area: bread-crumbs;
    margin-bottom: 10px;
    padding-left: 20px;

    & li {
        margin: 0 10px;
        font-size: 13px;
        white-space: nowrap;
        word-break: break-all;
        color: var(--dark-text-color);

        &:last-child {
            color: var(--text-color);
        }

        & a {
            padding: 0;
            color: var(--dark-text-color);

            &:hover {
                outline: 0;
                background-color: transparent;
            }
        }



    }

    & .ant-breadcrumb-separator {
        margin: 0;
    }
}