.tabs {
    border: 1px solid var(--primary-color);
    border-radius: 3px;

    & .tabs-titles {
        display: flex;

        & .tab__title {
            width: 100%;
            font-size: 14px;
            line-height: 1.4;
            text-align: center;
            color: var(--dark-text-color);
            background: var(--primary-color);
        }
    }

    & .tabs-content {
        padding: 20px;
        & .tab__content {
            display: none;
            
            &.opened {
                display: block;
            }
        }
    }
}