.phones-small-screen {
  grid-area: phone-numbers-low-width;
  position: relative;
  min-width: fit-content;
  z-index: 1;


  & > .phones-icon {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;

    &::after {
      content: "";
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translate(0, -50%);
      border-style: solid;
      border-width: 6px 3px 0 3px;
      border-color: var(--default-text-color) transparent transparent transparent;
    }
  }

  & > .content {

    & .phones {
      display: flex;
      flex-direction: column;
    }

    position: absolute;
    top: 30px;
    right: 50%;
    background-color: white;
    box-shadow: 0 2px 25px -2px rgb(0 0 0 / 20%);
    transition: visibility .15s, opacity .15s, transform .25s;
    transform: translate(50%, 0);

    &.opened {
      visibility: hidden;
      pointer-events: none;
      transform: translate(50%, 50px);
      opacity: 0;
    }

    & > .time-table-wrapper {
      margin-bottom: 10px;
    }

    & > .phones-wrapper {
      display: flex;
      flex-direction: column;
      align-items: end;

    }
  }
}