.contacts-wrapper {
    grid-area: contacts;

    & > .contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        line-height: 2;

        & > .text-with-icon {
            font-size: 20px;
            color: var(--text-color);
        }
    }

    &.list-wrapper > h2 {
        font-size: 19px;
    }
}

.pay-logos {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;

    & > img {
        width: auto;
    }
}

.pay-logos__master-cart {
    height: 50px;
}

.pay-logos__pay-logo {
    align-self: center;
    max-width: 40%;
}

.pay-logos__alpha-bank-logo {
    max-width: 40%;
}

.contacts-field__text {
    font-size: 15px;
}