.counter {
    width: 25px;
    height: 25px;
    font-weight: 800;
    line-height: 25px; /* exact like height */
    text-align: center;
    color: white;
    background-color: var(--secondary-color);
}