.counter {
    color: white;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px; /* exact like height */
    font-weight: 800;
}