.sub-header-menu-wrapper {
    background-color: var(--third-color);

    &>ul>div {
        margin-left: auto;
    }
}

.sub-header-menu {
    height: 36px;
    display: flex;
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.sub-header-menu-item {
    transition: all 0.4s;

    &>.item__text {
        color: var(--footer-text-color);
        font-size: 13px;
    }
    & ._with-icon .icon {
        width: 30px;
        height: 30px;
        background: no-repeat;
        align-self: center;
    }

    &>.item__text {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding: 10px;
    }
    &:hover {
        background-color: var(--sub-header-item-hover-color);
    }

    &:hover>.item__text {
        text-decoration: underline;
        color: white;
    }
}