.product-tabs {
    border: 0;

    & .tabs-titles {
        display: inline-flex;
        flex-grow: 1;

        & .tab__title {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            min-width: fit-content;

            margin: 0px 5px -1px 0px;
            padding: 15px 25px;
            border: 1px solid var(--light-border-color);
            border-radius: 2px;

            font-weight: 700;
            color: var(--light-text-color);
            background-color: var(--light-third-color);
            overflow: hidden;

            &:hover {
                color: var(--text-color);
            }
        }
        & .icon {
            height: 12px;
            margin-right: 4px;
        }

        & .opened {
            border-color: var(--secondary-color) var(--light-border-color) white var(--light-border-color); //TODO add scss variable for some strange "white"
            color: var(--dark-text-color);
            background-color: white;

            &:hover {
                color: var(--dark-text-color);
            }
        }
    }

    & .tabs-content {
        border: 1px solid var(--light-border-color);

        // & .tab__content {

        //     &.opened {}
        // }
    }
}

