.product-tabs {
    border: none;

   
    & .tabs-titles {
        display: inline-flex;
        flex-grow: 1;

        & .tab__title {
            max-width: 100%;
            min-width: fit-content;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 5px -1px 0px;
            border: 1px solid var(--light-border-color);
            border-radius: 2px;
            padding: 15px 25px;
            background-color: var(--light-third-color);
            color: var(--light-text-color);
            font-weight: 700;

            &:hover {
                color: var(--text-color);
            }
        }
        & .icon {
            height: 12px;
            margin-right: 4px;
        }

        & .opened {
            border-color: var(--secondary-color) var(--light-border-color) white var(--light-border-color);
            background-color: white;
            color: var(--dark-text-color);

            &:hover {
                color: var(--dark-text-color);
            }
        }
    }

    & .tabs-content {
        border: 1px solid var(--light-border-color);

        & .tab__content {

            &.opened {}
        }
    }
}

