.tabs {
    border: 1px solid var(--primary-color);
    border-radius: 3px;

    & .tab-panels {
        display: inline-flex;
        
        & .tab__panel {
            width: 100%;
            font-size: 14px;
            line-height: 1.4;
            text-align: center;
            color: var(--dark-text-color);
            background: var(--primary-color);
        }
    }

    & .tab-contents {
        padding: 20px;

        & .tab__content {
            display: none;

            &.opened {
                display: block;
            }
        }
    }
}