.default-page {
    display: grid;
    grid-template: min-content min-content auto / 2fr 1fr;
    grid-template-areas:
        "banner banner"
        "banner-slider product-selections"
        "products products";
    grid-area: content;
    height: fit-content;
    margin-left: 20px;

    & .banner {
        grid-area: banner;
        margin-bottom: 25px;
    }

    & .banner-slider {
        grid-area: banner-slider;
    }

    & .product-selections {
        grid-area: product-selections;
    }

    & div.products { //TODO fix specificity
        display: flex;
        justify-content: center;
        grid-area: products;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 38px;
    }
    & .product-container {
        display: flex;
        justify-content: left; //TODO find way to center products and make them wrap from the left
        flex-wrap: wrap;
    }
}

@media(max-width:850px) {
    .default-page {
        grid-template: min-content min-content auto / 100%;
        grid-template-areas:
            "banner banner"
            "banner-slider product-selections"
            "products products";
    }
}