.contacts-us-container {
    grid-area: contacts-us;

    & .contacts-us {
        margin-bottom: 20px;
        line-height: 2;

        & .link-list__title {
            text-align: center;
            font-size: 19px;
        }

        & .contacts-field .link-list-item__link {
            display: flex;
            align-items: center;
            border: 0;

            & .sprite {
                flex: 0 0 auto;
                margin-right: 10px;
                padding-right: 10px;
                width: 15px;
                height: 18px;
            }
        }
    }

}