@import "../../../app/styles/variables.scss"; 

.main {
    display: grid;
    grid-area: main;
    grid-template: auto 1fr / 300px 1fr;
    grid-template-areas:
        "bread-crumbs bread-crumbs"
        "aside content";

    max-width: var(--content-max-width);
    height: fit-content;
    margin: 0 auto;
    margin-top: 10px;
}

@media(max-width:850px) {
    .main {
        grid-template: auto auto 1fr / 1fr;
        grid-template-areas:
            "bread-crumbs"
            "aside"
            "content";
    }
}