.content {
    display: grid;
    grid-template: auto auto auto 1fr / 1fr 1fr 1fr;
    grid-template-areas:
    "full-width-banner full-width-banner full-width-banner"
    "banner-slider banner-slider top-product-selection"
    "banner-slider banner-slider bottom-product-selection"
    "products products products";

    align-items:  start;
    
    grid-area: content;
    margin-left: 20px;

    & .banner:first-child {
        margin-bottom: 25px;
        grid-area: full-width-banner;
    }

    & .banner-slider {
        grid-area: banner-slider;
    }
    & .product-selection:nth-child(1) {
        grid-area: top-product-selection;
    }
    & .product-selection:nth-child(2) {
        grid-area: bottom-product-selection;
    }


    & .products {
        display: flex;
        margin-top: 20px;
        margin-bottom: 28px;
        flex-wrap: wrap;
        grid-area: products;

    }
}

