.logo {
    display: -ms-inline-grid;
    align-self: center;
    grid-area: logo;
    min-width: fit-content;
    width: 100%;

    & a {
        min-width: fit-content;


    }

    & img {
        max-width: 162px;
    }
}