.payment-methods {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;

  & > img {
    width: auto;
  }

  & .master-cart {
    height: 50px;
  }

  & .pay-logo {
    align-self: center;
    max-width: 40%;
  }

  & .alpha-bank-logo {
    max-width: 40%;
  }

}

