.manufacture-info {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 13px;
}

// .manufacturer-info__manufacturer {

// }

// .manufacturer-info__guarantee {

// }

// .manufacturer-info__batch-number {

// }