.catalog-item-wrapper {
    border-bottom: 1px solid var(--low-border-color);
    display: flex;
    flex-direction: column;
}
.catalog-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    padding: 18px;
    transition: all 0.4s;
}
.catalog-item:hover {
    background: var(--secondary-color);
    color: white;
}
.catalog-item__text {
    font-size: 14px;
    margin-left: 14px;
    display: flex;
}
.catalog-item .sprite {
    width: 4px;
    height: 7px;
    align-self: center;
    background-position-y: -31px;
    display: flex;
}
.catalog-item-wrapper.list-open {
    background: var(--secondary-color);
    color: white;
}
.catalog-item-wrapper.list-open > .catalog-items {
    max-height: 1500px /* 100%*/ !important; 

}
.catalog-items {
    max-height:0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-self: end;

}

.catalog-item-wrapper.list-open > .catalog-items,.catalog-items  {
    transition: all 2s ease 0s;
}

/*.catalog-item-wrapper list level 2 */
.catalog-item-wrapper .catalog-item-wrapper .catalog-item:hover {
    background: var(--border-color);
    color: white;
}

.catalog-item-wrapper .catalog-item-wrapper  {
    background: var(--third-color);
    color: white;
}

.catalog-item-wrapper .catalog-item-wrapper .sprite  {
    background-position-y: -14px;
}

.catalog-item-wrapper .catalog-item-wrapper .catalog-item__text {
    margin-left: 25px;
}


/*.catalog-item-wrapper list level 3 */

.catalog-item-wrapper .catalog-item-wrapper .catalog-item-wrapper {
    background: white;
    color: black;
}

.catalog-item-wrapper .catalog-item-wrapper .catalog-item-wrapper .sprite  {
    background-image: none;
    align-self: center;
    justify-self: center;
}

.catalog-item-wrapper .catalog-item-wrapper .catalog-item-wrapper .catalog-item__text {
    margin-left: 45px;
}
.catalog-item-wrapper .catalog-item-wrapper .catalog-item-wrapper .catalog-item:hover {
    background: var(--active-color);
    color: white;
}