.product-wrapper {
    flex: 0 0 33.333333%;
    height: 290px;
    margin-bottom: 10px;
    padding: 0 8px 8px 10px;
    background-color: white !important;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 274px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--primary-color);
    transition: box-shadow 0.4s;

    &:hover {
        box-shadow: 0 10px 25px -3px rgb(0 0 0 / 20%);

        & .buy-button-wrapper {
        pointer-events: all;

            opacity: 1;
            transform: translateY(19px);
            box-shadow: 0 10px 25px -3px rgb(0 0 0 / 20%);
        }
    }


    & .buy-button-wrapper {
        position: absolute;
        left: 0;
        bottom: -35px;
        z-index: 2;
        box-sizing: border-box;
        height: 54px;
        width: 100%;
        padding: 10px;
        border: 1px solid var(--primary-color);
        border-top: none;
        background-color: white;
        opacity: 0;
        transition: all 0.4s;
        pointer-events: none;
        
        & .buy-button {
            height: 100%;
        }
    }
}

.preview {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
}

.product__title {
    height: 32px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color);
    transition: color 0.4s;

    &:hover {
        color: var(--dark-text-color);
    }
}

.product__price {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 700;
}

.product__price-hint {
    margin-bottom: 13px;
    font-size: 11px;
    color: var(--inactive-color);
}