.search-wrapper {
   grid-area: search;
}

.search {
   position: relative;
   display: inline-block;
   width: 100%;

   & .icon {
      height: 17px;
      width: 17px;
      position: absolute;
      right: 15px;
      top: calc(50% - 8px);
   }
}

.search__form {
   border: 3px solid var(--secondary-color);
   padding: 14px;
   width: 100%;
   height: 100%;
   font-size: 15px;
   transition: all 0.4s;

   &:focus {
      border: 3px solid var(--secondary-color);
   }

   &:hover {
      border-color: var(--weak-third-color);
   }
}