.single-review {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
    padding-top: 25px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;

    & .single-review__title {
        margin-bottom: 14px;
        font-size: 17px;
        font-weight: 700;
    }
}

.single-review__part {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
    line-height: 1.4;
}
.single-review-activity {
    margin: 4px;
    white-space: nowrap;
}
.single-review-activities {
    display: flex;
    align-items: center;
}