header {
    grid-area: header;
    border-bottom: 1px solid #000;
}

.header-container {
    max-height: 120px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr 2fr 1fr 1fr;
    grid-template-areas: 
    "logo timetable phoneNumbers phoneNumbers phoneNumbers"
    "logo search search comparison cart";
    max-width: var(--content-max-width);
    margin: 0 auto;
    height: 100%;
    grid-gap: 5px;
    padding-bottom: 13px;
}
