.view-all-search-results-wrapper {
    display: flex;
    justify-content: center;
    padding:10px;
    
    & .view-all-search-results {
        height: min-content;
    }
    & .view-all-search-results__icon {
        margin-right: 10px;
    }

}