.product-mini-wrapper {
    margin-bottom: 10px;
    padding: 0 8px 8px 10px;
    background-color: #ffffff !important;
}

.product-mini {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 278px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--primary-color);
    background-color: #ffffff;
    transition: box-shadow 0.4s;

    &:hover {
        & .product-mini__button-wrapper {
            box-shadow: 0 10px 25px -3px rgb(0 0 0 / 20%);
            opacity: 1;
            pointer-events: all;
            transform: translateY(19px);
        }
    }

    & .product-mini__title {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
        color: var(--secondary-color);
        transition: color 0.4s;

        &:hover {
            color: var(--dark-text-color);
        }
    }

    .product-mini__button-wrapper {
        position: absolute;
        bottom: -35px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 54px;
        box-sizing: border-box;
        transition: all 0.4s;
        pointer-events: none;
        z-index: 100;
        opacity: 0;
        background-color: inherit;
        
    }
    
    & .product-mini__button {
        margin: 30px;
        margin-top: 0;
        height: 38px;

        border-radius: 0;
        border: 1px solid var(--primary-color);
        border-top: 0;
        background-color: var(--secondary-color);


        & span {
            color: var(--primary-color);
        }
        &:hover {
            background-color: var(--active-color);

        }
    }

}

.product-mini__price {
    font-size: 18px;
    font-weight: 700;
}

.product-mini__price-hint {
    margin-bottom: 13px;
    font-size: 11px;
    color: var(--inactive-color);
}