.header-wrapper {
    grid-area: header;
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 4px -4px;
    outline: rgb(0, 0, 0) none 0px;
    display: grid;
    grid-template-rows: 36px 100%;
}

.header {
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(4, 1fr) / auto auto 2fr auto auto;
    grid-template-areas:
        "logo timetable phoneNumbers phoneNumbers phoneNumbers"
        "logo timetable phoneNumbers phoneNumbers phoneNumbers"
        "logo search search comparison cart"
        "logo search search comparison cart";
    height: 70%;
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    flex-wrap: wrap;

    &>.logo {}

}

@media(max-width:900px) {
    .header {
        grid-template: repeat(4, 1fr) / auto auto 2fr repeat(2, auto);
        align-items: end;
        grid-template-areas:
            "logo timetable phoneNumbers phoneNumbers phoneNumbers"
            "logo timetable phoneNumbers phoneNumbers phoneNumbers"
            "logo search search comparison comparison"
            "logo search search cart cart";
    }
}

@media(max-width:650px) {

    //minimaze product-actions and search
    .product-action {
        grid-area: comparison;

        & .product-action__text {
            display: none;
        }

        & div.sprite {
            display: block;
        }
        & .counter {
            border-radius: 50%;
        }
    }

    .header {
        grid-template: auto / auto 1fr auto auto auto;
        align-items: center;
        justify-items: right;
        grid-template-areas:
            "logo phone-numbers-low-width comparison cart search";

        &>.time-table-wrapper {
            display: none;
        }

        &>.phone-numbers {
            display: none;
        }

        & .logo img {
            max-width: 120px;
        }

    }
}

@media(max-width:450px) {

    //minimaze product-actions and search
    .header {
        grid-template: 1fr / 1fr auto auto auto auto;
        grid-template-areas:
            "logo phone-numbers-low-width comparison cart search";
        justify-content: end;
    }

    .product-action {

        & .product-action__text {
            display: none;
        }

        & div.sprite {
            display: block;
        }

        & .counter {
            border-radius: 50%;
        }
    }
}

