.comparison {
    grid-area: comparison;
    min-width: fit-content;
    align-items: center;

    & > .sprite {
        display: none; //TODO refuck
        width: auto;
        height: 25px;
    }
}