@import "../../../app//styles/variables.scss";

.phone-numbers {
    display: flex;
    align-self: center;
    grid-area: phoneNumbers;
    margin-right: 20px;
    margin-left: 10px;
    overflow-x: auto;
    
    & > .phone-number {
        margin: 7px;
    }
    
    & .sprite {
        margin-right: 5px;
    }

    & > a:nth-child(1)>.sprite {
        height: 19px;
        width: 22px;
    }

    & > a:nth-child(2)>.sprite {
        height: 16px;
        width: 10px;
    }

    & > a:nth-child(3)>.sprite {
        height: 18px;
        width: 18px;
    }

    & > a:nth-child(4)>.sprite {
        height: 15px;
        width: 15px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}