.reviews {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
    padding-top: 25px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.reviews__title {
    margin-bottom: 14px;
    font-size: 17px;
    font-weight: 700;
}

.reviews__review-part {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
    line-height: 1.4;
}
.review-btn {
    margin: 4px;
    white-space: nowrap;
}

.make-review-btn__text {
    color: orange;
}

.all-reviews-btn__text {
    color: green;
    transition: all 0.4s;
}
.all-reviews-btn__text:hover {
    color: orange;
}

.make-review-btn .sprite {
    width: 23px;
    height: 16px;
}

.make-review-btn {
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid var(--primary-color);
}

.reviews-buttons {
    display: flex;
    align-items: center;
}