.footer-wrapper {
    background: var(--third-color);

    & > .scroll-top-wrapper {
        height: 62px;
    }
}

.footer {
    display: grid;
    grid-area: footer;
    grid-gap: 5px;
    grid-template: 2.5fr 80px 1fr / 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "logo aboutCompany magazineInformation contacts"
    "middle middle middle middle"
    "disclaimer disclaimer disclaimer disclaimer";
    
    margin: 0 auto;
    padding-bottom: 50px;
    width: 100%;
    max-width: var(--content-max-width);

    & > .logo {
        align-self: start;
        grid-area: logo;
    }
}