footer {
    background: var(--third-color);
}
footer > .logo {
    grid-area: logo;
}

.footer-wrapper {
    display: grid;
    grid-area: footer;
    grid-template: 92px 2.5fr 80px 1fr / 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "scrollTop scrollTop scrollTop scrollTop"
    "logo aboutCompany magazineInformation contacts"
    "middle middle middle middle"
    "disclaimer disclaimer disclaimer disclaimer";
    grid-gap: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--content-max-width);
    padding-bottom: 50px;
} 