.catalog-item-wrapper {
    display: flex;
    flex-direction: column;

    &.list-open {
        color: white;
        background: var(--secondary-color);

        &>.catalog-items {
            max-height: 1500px !important;
            /* "100%" TODO: Adaptive height*/
        }
    }

    &>.catalog-items {
        transition: all 2s ease 0s;
    }
}

.catalog-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    padding: 18px;
    transition: all 0.4s;

    &:hover {
        color: white;
        background-color: var(--secondary-color);
    }

    & .sprite {
        display: flex;
        align-self: center;
        width: 4px;
        height: 7px;
        background-position-y: -31px;
    }
}

.catalog-item__text {
    display: flex;
    margin-left: 14px;
    font-size: 14px;
}

.catalog-items {
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-height: 0px;
    overflow: hidden;
}

/*.catalog-item-wrapper list level 2 */

.catalog-item-wrapper {

    & .catalog-item-wrapper {
        border-bottom: 1px solid var(--border-color);
        color: white;
        background: var(--third-color);
    }

    & .catalog-item-wrapper .catalog-item:hover {
        color: white;
        background: var(--border-color);
    }

    & .catalog-item-wrapper .sprite {
        background-position-y: -14px;
    }

    & .catalog-item-wrapper .catalog-item__text {
        margin-left: 25px;
    }

    & .catalog-item {}
}

/*.catalog-item-wrapper list level 3 */

.catalog-item-wrapper .catalog-item-wrapper {

    & .catalog-item-wrapper {
        border: none;
        color: black; //TODO add scss default text color variable
        background: white;
    }

    & .catalog-item-wrapper .sprite {
        align-self: center;
        justify-self: center;
        background-image: none;
    }

    & .catalog-item-wrapper .catalog-item__text {
        margin-left: 45px;
    }

    & .catalog-item-wrapper .catalog-item:hover {
        color: white;
        background: var(--active-color);
    }
}