.product-title {
    margin-bottom: 20px;
}

.product-title__title {
    font-size: 26px;
    font-weight: 600;
}

.product-title__code {
    margin-left: 12px;
    font-weight: 600;
    color: var(--active-color);
}