.overflow-scroll-wrapper {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 45px;
        background: linear-gradient(90deg, transparent, #2e3038);
        visibility: hidden;
    }
}
.overflow-scroll {
    display: flex;
    flex: 0 1;
    min-height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}