.footer-middle {
    grid-area: middle;
    display: flex;
    align-items: center;
    color: var(--footer-text-color);
    font-size: 11px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-top: 20px;
}

.footer-middle__copyright {
    display: inline-block;
    border-right: 1px solid var(--border-color);
    padding-right: 20px;
    margin-right: 20px;
}

.footer-middle__rules {
    color: var(--footer-text-color);
    transition: all 0.4s;

    &:hover {
        color: white;
    }
}

.footer-middle>* {
    margin: 8px;
}