.search {
   position: relative;
   display: none;
   grid-area: search;

   &.opened {
      display: flex;
   }

   & .icon {
      position: absolute;
      top: calc(50% - 8px);
      right: 15px;
      width: 17px;
      height: 17px;
   }


   & .search__form {
      width: 100%;
      padding: 14px;
      border: 3px solid var(--secondary-color);
      font-size: 15px;
      transition: border 0.4s;

      &:focus {
         border: 3px solid var(--secondary-color);
      }

      &:hover {
         border-color: var(--light-third-color);
      }
   }
}

.search__form {
   width: 100%;
}