.product-information__delivery-date {
    display: inline-block;
    position: relative;
    padding: 0 18px 0 13px;
    margin: 0 8px 0 15px;


    &:before,
    &:after {
        content: "";
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
    }

    &:before {
        left: 0;
        width: 8px;
        height: 8px;
        border: 0;
        border-radius: 50%;
        background: #ecad26;
    }

    &:after {
        right: 0;
        width: 14px;
        height: 14px;
        background: url("../../../../../../../images/help.png") no-repeat 0px 0px;
    }
}