.sub-product-slider {
  position: relative;
  margin: 15px;

  & .swiper-slide {
    height: auto;
    width: auto;
    margin-right: 12px;
    border: 1px solid var(--primary-color);

    & > img {
      object-fit: contain;
      height: 120px;
    }

    &:hover {
      border-color: var(--active-color);
    }
  }


  & .swiper-wrapper {
    width: 100%;
  }

  & .swiper-slide-thumb-active {
    border-color: var(--active-color);
  }
}