body, html, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --content-max-width: 1120px;
  --secondary-color:#53b220;
  --third-color: #2e3038;
  --weak-third-color:#f1f1f1;
  --border-color:#43454c;
  --weak-border-color:#ededec;
  --active-color:#ecad26;
  --inactive-color: #2e303899;
  --text-color: #959699;
  --weak-text-color:#3a3a3a;
  --background-color-hover: #ffffff0d;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}

html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 13px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,button,textarea {
  font-family: inherit;
}


input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}

.list-wrapper > .title {
  font-size: 21px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
}
.list-item > a {
  font-size: 15px;
}
.list-item__link:hover {
  border-bottom: 1px solid transparent;

}

.list-item__link {
    color: var(--text-color);
    font-size: 17px;
    border-bottom: 1px solid var(--text-color);
    line-height: 2;
    transition: all 0.4s;
}
/* TODO:fix list */
img {
  max-width: 100%;
  height: auto;
}