body,
html,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.list-wrapper>.title {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 600;
  color: white;
}

.list-item>a {
  font-size: 15px;
}

.list-item__link:hover {
  border-bottom: 1px solid transparent;
}

.list-item__link {
  font-size: 17px;
  line-height: 2;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  transition: all 0.4s;
}

.link-action {
  display: flex;
  justify-content: center;
}

.link-action__text {
  margin: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-text-color);
  transition: all 0.4s;

  &:hover {
    color: var(--secondary-color);
  }
}

.link-action>.sprite {
  width: 25px;
}

.counter {
  width: 25px;
  height: 25px;
  font-weight: 800;
  line-height: 25px;
  /* exact like height */
  text-align: center;
  color: white;
  background-color: var(--secondary-color);
}

/* TODO:fix list */
img {
  max-width: 100%;
  height: auto;
}

html {
  //default text styles
  line-height: var(--default-text-line-height);
  font-size: var(--default-text-size);
  color: var(--default-text-color);
}

:root {
  --content-max-width: 1120px;
  --default-text-color: black;
  --default-text-size: 14px;
  --default-text-line-height: 1.42;

  //Named Colors
  --smoky-white: #f1f1f1;
  --weak-smoky-white: #ededec;
  --gainsborough-color: #dddddd;
  --white-aluminium: #aaaaaa;
  --pale-blue: #959699;
  --dark-grey: #888888;
  --slate-grey: #43454c;
  --grey-brown: #3a3a3a;
  --transparent-black: rgba(255, 255, 255, 0.051);
  --granite-grey: #2e3038;
  --dark-slate-grey: #2e303899;

  --irish-green: #53b220;
  --saturated-yellow: #ecad26;

  //Theme Colors
  --primary-color: var(--weak-smoky-white);
  --secondary-color: var(--irish-green);
  --third-color: var(--granite-grey);
  --light-third-color: var(--smoky-white);

  --text-color: var(--pale-blue);
  --light-text-color: var(--white-aluminium);
  --dark-text-color: var(--grey-brown);

  --border-color: var(--slate-grey);
  --light-border-color: var(--gainsborough-color);
  --background-hover-color: var(--transparent-black);

  --active-color: var(--saturated-yellow);
  --inactive-color: var(--dark-slate-grey);

  //Unique colors

  --user-menu-item-color: rgba(255, 255, 255, 0.4);
}