.product-selection {
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.product-selection__title {
    text-align: center;
    color:var(--dark-text-color);
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.4s;

    &:hover {
        color: var(--secondary-color);
    }
}

.image-wrapper__image {
    width: 100%;
}