.search,
.fixed-search {
   background-color: white;
}

.hidden {
   visibility: hidden;
}
.display-none {
   display: none !important;
}

.search-icon {
   cursor: pointer;
}
.cross-icon {
   cursor: pointer;
}

